/*-------------------------------------------------------------------------------
  Colors
-------------------------------------------------------------------------------*/

$blue: #0835a3;
$gray20: #ccc;
$gray30: #aeaeb1;
$gray60: #353740;
$green: #189432;
$purple: #48328f;
$red40: #f40707;
$red60: #be0400;
$white-purple: #aeb9f1;



/*-------------------------------------------------------------------------------
  Fonts
-------------------------------------------------------------------------------*/

$fontSans: "Helvetica", sans-serif;
$fontSansAlt: "Interstate", sans-serif;



/*-------------------------------------------------------------------------------
  Animations
-------------------------------------------------------------------------------*/
$speedy: 0.2s;



/*-------------------------------------------------------------------------------
  Responsive
-------------------------------------------------------------------------------*/

$hoover: 375px;
$roosevelt: 414px;
$truman: 480px;
$barkley: 550px;
$eisenhower: 620px;
$kennedy: 680px;
$johnson: 768px;
$nixon: 900px;
$ford: 1024px;
$carter: 1100px;
$reagan: 1200px;
$hbush: 1300px;
$clinton: 1400px;
$wbush: 1500px;
$obama: 1600px;