/*-------------------------------------------------------------------------------
  Imports
-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
  Colors
-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
  Fonts
-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
  Animations
-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
  Responsive
-------------------------------------------------------------------------------*/
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%; }

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #f26522;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background: #f26522;
  color: #ffffff;
  text-shadow: none; }

/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: transparent; }

ins {
  background-color: #000;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #000;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a9a9a9; }

textarea:-moz-placeholder {
  color: #a9a9a9; }

img {
  display: block; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

html {
  -webkit-font-smoothing: antialiased; }

/*-------------------------------------------------------------------------------
  Basic Elements
-------------------------------------------------------------------------------*/
html {
  position: relative;
  min-height: 100%; }

body {
  color: #353740;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 50px; }

/*-------------------------------------------------------------------------------
  Wraps
-------------------------------------------------------------------------------*/
#outer-wrap {
  position: relative;
  width: 100%; }

.inner-wrap {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 90%; }

.headline-wrap {
  height: 100%;
  position: relative; }

.detail-edit-wrap {
  position: relative; }

.detail-view {
  position: relative; }
  .detail-view:before {
    background: none; }
  .detail-view.active:before {
    background: rgba(255, 255, 255, 0);
    content: '';
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.button-wrap {
  margin: 16px 0;
  text-align: center; }
  @media only screen and (min-width: 414px) {
    .button-wrap {
      text-align: left; } }

#list-view {
  margin: 26px 0; }

/*-------------------------------------------------------------------------------
  Navigation
-------------------------------------------------------------------------------*/
#header {
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  @media only screen and (min-width: 480px) {
    #header {
      height: 80px; } }

.main-nav {
  background: #0835a3;
  color: white;
  position: relative;
  text-transform: uppercase; }

.nav {
  float: left;
  padding: 20px 10px; }
  .nav.icon {
    background: #be0400;
    float: left;
    margin-bottom: -5px;
    width: 20%; }
    @media only screen and (min-width: 480px) {
      .nav.icon {
        width: 96px; } }
    .nav.icon img {
      margin: 0 auto;
      width: 30px; }
      @media only screen and (min-width: 480px) {
        .nav.icon img {
          width: 40px; } }
  .nav.logo {
    padding-bottom: 18px;
    width: 80%; }
    @media only screen and (min-width: 480px) {
      .nav.logo {
        margin-left: 42px;
        width: auto; } }
    .nav.logo img {
      margin: 2px auto 0;
      width: 212px; }
      @media only screen and (min-width: 480px) {
        .nav.logo img {
          width: 282px; } }

.items {
  display: none; }
  @media only screen and (min-width: 768px) {
    .items {
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100px; } }

.item {
  display: block;
  margin-bottom: 6px; }
  .item:last-of-type {
    margin-bottom: 0; }

#footer {
  background: #0835a3;
  bottom: 0;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%; }

/*-------------------------------------------------------------------------------
  Images and Graphics
-------------------------------------------------------------------------------*/
.hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
  margin-top: 70px;
  position: relative; }
  .hero:after {
    background-image: url("/_/img/gsu-seal-half.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 200px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 340px;
    width: 200px;
    z-index: 7; }
  .hero:before {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  @media only screen and (min-width: 480px) {
    .hero {
      margin-top: 80px; } }

/*-------------------------------------------------------------------------------
  Text
-------------------------------------------------------------------------------*/
h1 {
  color: #aeaeb1;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 60px 0 20px;
  text-transform: uppercase; }
  h1.topmargin {
    margin-top: 100px; }
    @media only screen and (min-width: 480px) {
      h1.topmargin {
        margin-top: 120px; } }

h3 {
  color: #be0400;
  font-size: 1.4em;
  margin: 36px 0 16px;
  text-transform: uppercase; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 1.6em; } }

#form li {
  position: relative;
  width: 100%; }

p + P {
  margin-top: 12px; }

#form li span {
  display: none;
  font-size: 0.9em;
  margin-right: 16px;
  padding: 8px 0 2px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 170px; }

.headlines {
  border: 1px solid white;
  left: 50%;
  padding: 40px 14px 30px;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -30%);
  width: 300px; }
  @media only screen and (min-width: 480px) {
    .headlines {
      width: 400px; } }

.headline {
  color: white;
  font-size: 2.0em;
  font-weight: 400;
  line-height: 1.0em;
  margin-bottom: 14px;
  position: relative;
  text-align: center;
  text-transform: uppercase; }
  .headline:nth-of-type(2) {
    margin-left: calc(4% - 5px);
    margin-right: calc(8% - 5px); }
  .headline.sub {
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    font-size: 1.3em;
    line-height: 1.1em;
    margin-bottom: none;
    padding: 8px;
    text-transform: none;
    width: 44%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .headline.sub:hover {
      border: 1px solid rgba(255, 255, 255, 0);
      background: #0835a3; }

.copy {
  text-align: center; }
  @media only screen and (min-width: 414px) {
    .copy {
      text-align: left; } }
  @media only screen and (min-width: 768px) {
    .copy {
      font-size: 1.2em;
      line-height: 1.4em; } }
  @media only screen and (min-width: 900px) {
    .copy {
      width: 800px; } }

/*-------------------------------------------------------------------------------
  Links
-------------------------------------------------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a.blocked {
    display: block;
    height: 100%; }
  .item a:hover {
    color: #aeb9f1; }

.button {
  background: #f40707;
  border: none;
  color: white;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .button.large {
    font-size: 1.3em;
    margin: 40px auto 0;
    padding: 8px 12px;
    width: 96px; }
    @media only screen and (min-width: 414px) {
      .button.large {
        margin-right: 8px; }
        .button.large:last-of-type {
          margin-right: initial; } }
  .button.small {
    font-size: 1.0em;
    margin: 10px 0;
    padding: 8px 12px;
    width: 160px; }
    @media only screen and (min-width: 480px) {
      .button.small {
        margin-right: 12px; }
        .button.small:last-of-type {
          margin-right: initial; } }
    @media only screen and (min-width: 768px) {
      .button.small {
        width: 200px; } }
  .button.tiny {
    display: inline-block;
    font-size: 0.9em;
    margin: 16px 0 20px;
    padding: 8px 12px;
    width: 80px; }
    @media only screen and (min-width: 414px) {
      .button.tiny {
        margin-right: 6px;
        width: 90px; }
        .button.tiny:last-of-type {
          margin-right: 0; } }
    @media only screen and (min-width: 768px) {
      .button.tiny {
        width: 110px; } }
  .button:hover {
    background: #0835a3; }

#edit {
  display: none; }
  #edit.active {
    display: inline-block; }

#update {
  display: none; }
  #update.active {
    display: inline-block; }

.return {
  color: #be0400;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  margin-bottom: 40px;
  padding-left: 20px;
  position: relative;
  text-transform: uppercase; }
  .return:before {
    background-image: url("../img/icon-back.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 16px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 16px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }
  .return:hover:before {
    left: -10px; }
  @media only screen and (min-width: 768px) {
    .return:before {
      top: 3px; } }

/*-------------------------------------------------------------------------------
  Forms and Inputs
-------------------------------------------------------------------------------*/
input[type='text'] {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

input:focus {
  border: 1px solid #ccc;
  outline: none; }

input,
textarea {
  color: #353740;
  padding: 8px 8px 8px 14px;
  margin: 4px 0;
  width: 100%; }

textarea {
  border: 1px solid #ccc;
  resize: none; }

.clear-data {
  display: inline-block;
  height: 30px;
  padding-left: 14px;
  vertical-align: middle;
  width: 100%; }

.edits {
  text-align: left; }

.edits span {
  color: #aeaeb1;
  display: block;
  font-size: 1.2em;
  margin-top: 18px;
  text-transform: uppercase; }

/*-------------------------------------------------------------------------------
  List View
-------------------------------------------------------------------------------*/
.request {
  border-bottom: 1px solid #aeaeb1;
  margin-bottom: 20px;
  padding: 16px 18px; }
  .request:first-of-type {
    border-top: 1px solid #aeaeb1; }
  .page-continue .list .request {
    margin-bottom: 0; }

.page-submissions .list .request div {
  margin-bottom: 6px; }
  .page-submissions .list .request div:first-of-type {
    font-size: 1.5em;
    line-height: 1.3em; }
  .page-submissions .list .request div:nth-of-type(2) {
    margin-bottom: 20px;
    text-transform: uppercase; }
  .page-submissions .list .request div.delete-this, .page-submissions .list .request div.view-this, .page-submissions .list .request div.approve-this {
    display: inline-block;
    margin-right: 12px;
    padding: 4px 0;
    width: 70px; }
    @media only screen and (min-width: 414px) {
      .page-submissions .list .request div.delete-this, .page-submissions .list .request div.view-this, .page-submissions .list .request div.approve-this {
        text-align: center;
        width: 90px; } }
    @media only screen and (min-width: 768px) {
      .page-submissions .list .request div.delete-this, .page-submissions .list .request div.view-this, .page-submissions .list .request div.approve-this {
        padding: 8px;
        width: 110px; } }
  .page-submissions .list .request div.approve-this {
    border: 2px solid #48328f;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .page-submissions .list .request div.approve-this:hover {
      color: #48328f; }
  .page-submissions .list .request div.delete-this {
    border: 2px solid #f40707;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .page-submissions .list .request div.delete-this:hover {
      color: #f40707; }
  .page-submissions .list .request div.view-this {
    border: 2px solid #189432;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .page-submissions .list .request div.view-this:hover {
      color: #189432; }
  .page-submissions .list .request div:last-of-type {
    margin-right: 0; }
.page-continue .list .request div {
  margin-bottom: 6px; }
  .page-continue .list .request div:first-of-type {
    text-transform: uppercase; }

/*-------------------------------------------------------------------------------
  Detail View
-------------------------------------------------------------------------------*/
