/*-------------------------------------------------------------------------------
  Imports
-------------------------------------------------------------------------------*/

@import 'variables';
@import 'reset';
@import 'mixins';



/*-------------------------------------------------------------------------------
  Basic Elements
-------------------------------------------------------------------------------*/

html {  // for sticky footer
  position: relative;
  min-height: 100%;
}


body {
  color: $gray60;
  font-family: $fontSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 50px;  // for sticky footer
}



/*-------------------------------------------------------------------------------
  Wraps
-------------------------------------------------------------------------------*/

#outer-wrap {
  position: relative;
  width: 100%;
}

.inner-wrap {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.headline-wrap {
  height: 100%;
  position: relative;
}

.detail-edit-wrap {
  position: relative;  
}

.detail-view {  // disables editing a request
  position: relative;
  &:before {
    background: none;
  }
  &.active:before {
    background: rgba(255,255,255,0);
    content: '';
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
    @include transition($speedy * 2);
  }
}

.footer-wrap {

}

.button-wrap {
  margin: 16px 0;
  text-align: center;
  @include responsive(roosevelt) {
    text-align: left;
  }
}

#list-view {
  margin: 26px 0;
}



/*-------------------------------------------------------------------------------
  Navigation
-------------------------------------------------------------------------------*/

#header {
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  @include responsive(truman) {
    height: 80px;
  }
}

.main-nav {
  background: $blue;
  color: white;
  position: relative;
  text-transform: uppercase;
}

.nav {
  float: left;
  padding: 20px 10px;
  &.icon {
    background: $red60;
    float: left;
    margin-bottom: -5px;
    width: 20%;
    @include responsive(truman) {
      width: 96px;
    }
    img {
      margin: 0 auto;
      width: 30px;
      @include responsive(truman) {
        width: 40px;
      }
    }
  }
  &.logo {
    padding-bottom: 18px;
    width: 80%;
    @include responsive(truman) {
      margin-left: 42px;
      width: auto;
    }
    img {
      margin: 2px auto 0;
      width: 212px;
      @include responsive(truman) {
        width: 282px;
      }
    }
  }
}

.items {
  display: none;
  @include responsive(johnson) {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
  }
}

.item {
  display: block;
  margin-bottom: 6px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

#footer {  // this is sticky
  background: $blue;
  bottom: 0;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
}


/*-------------------------------------------------------------------------------
  Images and Graphics
-------------------------------------------------------------------------------*/

.hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
  margin-top: 70px;  // accounts for fixed header
  position: relative;
  &:after {  // GSU Seal
    background-image: url('/_/img/gsu-seal-half.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 200px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 340px;
    width: 200px;
    z-index: 7;
  }
  &:before {  // dark overlay
    background: rgba(0,0,0,0.5);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  @include responsive(truman) {
    margin-top: 80px;
  }
}



/*-------------------------------------------------------------------------------
  Text
-------------------------------------------------------------------------------*/

h1 {
  color: $gray30;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 60px 0 20px;
  text-transform: uppercase;
  &.topmargin {  // accounts for fixed header
    margin-top: 100px;
    @include responsive(truman) {
      margin-top: 120px;
    }
  }
}

h3 {
  color: $red60;
  font-size: 1.4em;
  margin: 36px 0 16px;
  text-transform: uppercase;
  @include responsive(johnson) {
    font-size: 1.6em;
  }
}

li {
  #form & {
//    border-bottom: 1px solid $gray20;
    position: relative;
    width: 100%;
    &:first-of-type {
//      border-top: 1px solid $gray20;
    }
  }
}

p + P {
  margin-top: 12px;
}

span {
  li & {
    #form & {
      display: none;  // hide on mobile
      font-size: 0.9em;
      margin-right: 16px;
      padding: 8px 0 2px; 
      text-transform: uppercase;
      vertical-align: middle;
      width: 170px;
    }
  }
}

.headlines {
  border: 1px solid white;
  left: 50%;
  padding: 40px 14px 30px;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -30%);
  width: 300px;
  @include responsive(truman) {
    width: 400px;
  }
}

.headline {
  color: white;
  font-size: 2.0em;
  font-weight: 400;
  line-height: 1.0em;
  margin-bottom: 14px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  &:nth-of-type(2) {
    margin-left: calc(4% - 5px);
    margin-right: calc(8% - 5px);
  }
  &.sub {
    border: 1px solid rgba(255,255,255,0.5);
    display: inline-block;
    font-size: 1.3em;
    line-height: 1.1em;
    margin-bottom: none;
    padding: 8px;
    text-transform: none;
    width: 44%;
    @include transition($speedy * 2);
    &:hover {
      border: 1px solid rgba(255,255,255,0);
      background: $blue;
    }
  }
}

.copy {
  text-align: center;
  @include responsive(roosevelt) {
    text-align: left;
  }
  @include responsive(johnson) {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  @include responsive(nixon) {
    width: 800px;
  }
}



/*-------------------------------------------------------------------------------
  Links
-------------------------------------------------------------------------------*/

a {
  color: inherit;
  text-decoration: none;
  @include transition($speedy * 2);
  &.blocked {
    display: block;
    height: 100%;
  }
  .item & {
    &:hover {
      color: $white-purple
    }
  }  
}

.button {
  background: $red40;
  border: none;
  color: white;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  @include transition($speedy *2);
  &.large {
    font-size: 1.3em;
    margin: 40px auto 0;
    padding: 8px 12px;
    width: 96px;
    @include responsive(roosevelt) {
      margin-right: 8px;
      &:last-of-type {
        margin-right: initial;
      }
    }
  }
  &.small {
    font-size: 1.0em;
    margin: 10px 0;
    padding: 8px 12px;
    width: 160px;
    @include responsive(truman) {
      margin-right: 12px;
      &:last-of-type {
        margin-right: initial;
      }
    }
    @include responsive(johnson) {
      width: 200px;
    }
  }
  &.tiny {
    display: inline-block;
    font-size: 0.9em;
    margin: 16px 0 20px;
    padding: 8px 12px;
    width: 80px;
    @include responsive(roosevelt) {
      margin-right: 6px;
      width: 90px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    @include responsive(johnson) {
      width: 110px;
    }
  }
  &:hover {
    background: $blue;
  }
}

#edit {
  display: none;
  &.active {
    display: inline-block;
  }
}

#update {
  display: none;
  &.active {
    display: inline-block;
  }
}

.return {
  color: $red60;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  margin-bottom: 40px;
  padding-left: 20px;
  position: relative;
  text-transform: uppercase;
  &:before {
    background-image: url('../img/icon-back.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 16px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 16px;
    @include transition($speedy * 4);
  }
  &:hover:before {
    left: -10px;
  }
  @include responsive(johnson) {
    &:before {
      top: 3px;
    }
  }
}


/*-------------------------------------------------------------------------------
  Forms and Inputs
-------------------------------------------------------------------------------*/

input[type='text'] {  // the application page
//  border: 1px solid white;  // hides the border that inputs have by default
  @include transition($speedy * 2)
}

input:focus {
  border: 1px solid $gray20;
  outline: none;
}

input,
textarea {  // detail view page and the application page for some
  color: $gray60;  //
  padding: 8px 8px 8px 14px;
  margin: 4px 0;  //
  width: 100%;
}

textarea {
  border: 1px solid $gray20;
  resize: none;
}

#form {

}

.clear-data {
  display: inline-block;
  height: 30px;
  padding-left: 14px;
  vertical-align: middle;
  width: 100%;
}

.edits {
  text-align: left;
}

span {
  .edits & {
    color: $gray30;
    display: block;
    font-size: 1.2em;
    margin-top: 18px;
    text-transform: uppercase;
  }
}


/*-------------------------------------------------------------------------------
  List View
-------------------------------------------------------------------------------*/

//div {
//  .request & {
//    .list & {
//      display: inline-block;
//      overflow: hidden;
//      position: relative;
//      white-space: nowrap;
//      width: 204px;
//      &:after {
//        background: -webkit-linear-gradient(inear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,1) 80%));
//        background: -o-linear-gradient(inear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,1) 80%));
//        background: -moz-linear-gradient(inear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,1) 80%));
//        background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,1) 80%);
//        content: '';
//        height: 100%;
//        position: absolute;
//        right: 0;
//        top: 0;
//        width: 80px;
//      }
//      &:first-of-type {
//        color: $gray60;
//        @include transition($speedy * 2);
//      }
//      &:first-of-type:hover a {
//        color: $blue;
//      }
//      &:last-of-type {
//        cursor: pointer;
//        text-align: right;
//        width: 46px;
//        transition: 0.3s all ease-in-out;
//      }
//      &:last-of-type:hover {
//        color: $red40;
//      }
//      &:last-of-type:after {
//        background: none;  // removes gradient from 'Delete' since it doesn't apply
//      }
//    }
//  }
//}



.request {
  border-bottom: 1px solid $gray30;
  margin-bottom: 20px;
  padding: 16px 18px;
  &:first-of-type {
    border-top: 1px solid $gray30;
  }
  .list & {
    .page-continue & {
      margin-bottom: 0;
    }
  }
}

div {
  .request & {
    .list & {
      .page-submissions & {
        margin-bottom: 6px;
        &:first-of-type {
          font-size: 1.5em;
          line-height: 1.3em;
        }
        &:nth-of-type(2) {
          margin-bottom: 20px;
          text-transform: uppercase;
        }
        &.delete-this,
        &.view-this,
        &.approve-this {
          display: inline-block;
          margin-right: 12px;
          padding: 4px 0;
          width: 70px;
          @include responsive(roosevelt) {
            text-align: center;
            width: 90px;
          }
          @include responsive(johnson) {
            padding: 8px;
            width: 110px;
          }
        }
        &.approve-this {
          border: 2px solid $purple;
          @include transition($speedy *2 );
          &:hover {
            color: $purple;
          }
        }
        &.delete-this {
          border: 2px solid $red40;
          @include transition($speedy *2 );
          &:hover {
            color: $red40;
          }
        }
        &.view-this {
          border: 2px solid $green;
          @include transition($speedy *2 );
          &:hover {
            color: $green;
          }
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
      .page-continue & {
        margin-bottom: 6px;
        &:first-of-type {
          text-transform: uppercase;
        }
      }
    }
  }
}


/*-------------------------------------------------------------------------------
  Detail View
-------------------------------------------------------------------------------*/

